my-share {
    .btn-whatsapp{ color:#fff!important; background-color:#3eb35f!important}
    .btn-mail{ color:#fff!important; background-color:#512da8!important}
    .btn-facebook{ color:#fff!important; background-color:#3b5998!important}
    .btn-twitter{ color:#fff!important; background-color:#55acee!important}
    .btn-instagram{ color:#fff!important; background-color:#49a0df!important}
    .btn-sms{ color:#fff!important; background-color:#512da8!important}
}
