<ion-row no-padding>
  <button ion-fab mini class="btn-whatsapp" (click)="shareTapped('whatsapp')">
    <ion-icon name='logo-whatsapp'></ion-icon>
  </button>
  <button ion-fab mini class="btn-mail" (click)="shareTapped('mail')">
    <ion-icon name='mail'></ion-icon>
  </button>
  <button ion-fab mini class="btn-facebook" (click)="shareTapped('facebook')">
    <ion-icon name='logo-facebook'></ion-icon>
  </button>
  <button ion-fab mini class="btn-twitter" (click)="shareTapped('twitter')">
    <ion-icon name='logo-twitter'></ion-icon>
  </button>
  <button ion-fab mini class="btn-instagram" (click)="shareTapped('instagram')">
    <ion-icon name='logo-instagram'></ion-icon>
  </button>
  <button ion-fab mini class="btn-sms" (click)="shareTapped('sms')">
    <ion-icon name='chatbubbles'></ion-icon>
  </button>
</ion-row>
  