<ion-header>
  <ion-navbar>
    <div *ngIf="!isIOS">
      <img class= "img-bg" src="http://castillococinas.es/data/uploads/logo.png" width="30%" height="30%" align="right" />
    </div>
    <div *ngIf="isIOS">
      <ion-title>
        <img class="img-bg" src="http://castillococinas.es/data/uploads/logo.png" width="40%" height="40%"/>
      </ion-title>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-img width="100%" height="200" src={{item.image_url}} (click)="itemTapped('0')"></ion-img> 
  <h1>{{item.title}}</h1>
  <p>
    {{item.description}}
  </p>
  <p>
    Estilo: {{item.style}}  &nbsp;&nbsp;&nbsp;&nbsp; Año: {{item.year}}
  </p>
  <p *ngIf="item.price">
    Precio: {{item.price}} €
  </p>
  <p>
    Lugar: {{item.address}}
  </p>

  <!-- Presupuesto & Favorite -->
  <ion-item >
    <ion-col text-left>
      <button ion-button clear small color="dark" (click)="presupuestoTapped()" icon-start>
        <ion-icon ios="ios-chatboxes" md="md-chatboxes"></ion-icon>
        Presupuesto            
      </button>
    </ion-col>
    <ion-col text-center>          
      <button ion-button clear small color="dark" icon-start (click)="setSharing()">
        <ion-icon name='share'></ion-icon>
      </button>
    </ion-col>
    <ion-col text-right>
      <button ion-button clear small color="dark" (click)="setFavorites(item.id)" icon-start>
            <ion-icon name="star-outline" color="bright" *ngIf="item != null && !isThisFavorite(item.id)" ></ion-icon>
            <ion-icon name="star" color="bright" *ngIf="item != null && isThisFavorite(item.id)" ></ion-icon> 
      </button>
    </ion-col>   
    <my-share *ngIf="isSharing()" [item]=item (click)="setSharing()"></my-share>
  </ion-item>

  <!-- Gallery -->
  <ion-grid>
    <ion-row *ngFor="let row of grid">
      <ion-col width-50 *ngFor="let r of row" (click)="itemTapped(r.id)">
        <img [src]="r.url"/>
      </ion-col>
    </ion-row>
  </ion-grid> 
  
  <!-- Previous - Next -->
  <ion-grid>
    <ion-row >
    <ion-col width-25> 
      </ion-col> 
      <ion-col width-25 (click)="arrowTapped(item.prev_id)" align="center"> 
        <ion-icon name="arrow-back" *ngIf="item.prev_id != 0"></ion-icon>
      </ion-col>
      <ion-col width-25 *ngIf="item.next_id != 0" (click)="arrowTapped(item.next_id)" align="center">
      <ion-icon name="arrow-forward" ></ion-icon>
      </ion-col>
      <ion-col width-25> 
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
