<ion-header>
  <ion-navbar>
    <div *ngIf="!isIOS">
      <img class= "img-bg" src="http://castillococinas.es/data/uploads/logo.png" width="30%" height="30%" align="right" />
    </div>
    <div *ngIf="isIOS">
      <ion-title>
        <img class="img-bg" src="http://castillococinas.es/data/uploads/logo.png" width="40%" height="40%"/>
      </ion-title>
    </div>
    <ion-buttons end>
      <button ion-button ion-only *ngIf="isIOS && emailValid()" (click)="enviarEmail()">Enviar </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1 align="center">{{title}}</h1>
  <ion-card>
    <ion-item>
      <ion-label floating color="primary">Asunto</ion-label>
      <ion-textarea  readonly="true" rows="2" type="text"  [(ngModel)]="subject"></ion-textarea>
    </ion-item>
  </ion-card>
  <form [formGroup]= "presupuestoForm">
    <ion-list > 
      <ion-card>
        <ion-item>
          <ion-label  floating color="primary">Mensaje</ion-label>
          <ion-textarea rows="15" formControlName="body" maxLength="500"></ion-textarea>
        </ion-item>
        <ion-item class="no-line error" *ngIf="body.hasError('required')  && body.touched">
          <p ion-text color="danger">Por favor ingrese un Mensaje.</p>
        </ion-item>
      </ion-card>
    </ion-list>

    <button ion-button round color="primary" *ngIf="!isIOS && emailValid()" (click)="enviarEmail()">Enviar</button> 
  </form> 

</ion-content>
