<!-- Generated template for the MyFooterComponent component -->
<ion-footer class="dark">
  <ion-row >
    <ion-col align="center"> 
    </ion-col>
    <ion-col align="center">
      <ion-icon ios="ios-call" md="md-call" (click)="navigateFooter('call')"></ion-icon>
    </ion-col>
    <ion-col align="center"> 
      <ion-icon name="mail" (click)="navigateFooter('mail')"></ion-icon>
    </ion-col>
    <ion-col width-50 align="center">
      <ion-icon ios="logo-facebook" md="logo-facebook" (click)="navigateFooter('facebook')"></ion-icon>
    </ion-col>
    <ion-col width-50 align="center"> 
      <ion-icon name="logo-twitter" (click)="navigateFooter('twitter')"></ion-icon> 
    </ion-col>
    <ion-col width-50 align="center">
      <ion-icon name="logo-youtube" (click)="navigateFooter('youtube')"></ion-icon>
    </ion-col>
    <ion-col width-50 align="center"> 
      <ion-icon name="logo-chrome" (click)="navigateFooter('chrome')"></ion-icon> 
    </ion-col>
    <ion-col width-50 align="center">
      <ion-icon ios="ios-compass" md="md-compass" (click)="navigateFooter('compass')"></ion-icon>
    </ion-col>
    <ion-col align="center"> 
    </ion-col>
  </ion-row>
</ion-footer>
